<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVICE_IPHONE_TITLE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVICE_IPHONE_4</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>set35inch</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVICE_IPHONE_5</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>set4inch</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVICE_IPHONE_6</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>set47inch</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVICE_IPHONE_6PLUS</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>set55inch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVICE_IPAD_TITLE</string>
			<key>footerText</key>
			<string>UNSUPPORTED_RESOLUTIONS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVICE_IPAD_NO_RETINA</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>set97inch</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVICE_IPAD_RETINA</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>set97inch_retina</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVICE_IPAD_PRO</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>set129inch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM_TITLE</string>
			<key>footerText</key>
			<string>CUSTOM_FOOTER</string>
		</dict>
		<dict>
			<key>keyboard</key>
			<string>phone</string>
			<key>placeholder</key>
			<string>CUSTOM_X</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>set</key>
			<string>setXValue:</string>
			<key>get</key>
			<string>getXValue</string>
		</dict>
		<dict>
			<key>placeholder</key>
			<string>CUSTOM_Y</string>
			<key>keyboard</key>
			<string>phone</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>set</key>
			<string>setYValue:</string>
			<key>get</key>
			<string>getYValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>RescaleCustomListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>CUSTOM_LIST_TITLE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>CUSTOM_APPLY</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>confirmRescale</string>
		</dict>
		<dict>
			<key>label</key>
			<string>CUSTOM_SAVE</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>enabled</key>
			<false/>
		</dict>
	</array>
	<key>title</key>
	<string>CUSTOM_LIST_TITLE</string>
</dict>
</plist>
